@font-face {
  font-family: MouseoModerno;
  src: url(./fonts/MuseoModerno-VariableFont_wght.ttf);
}

* {
  font-family: MouseoModerno, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #1f1f1f;
}